.header{
    background-color:var(--black);
    height: 100vh;
    color:whitesmoke;
}
.header h1{
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-variant-alternates: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 144px;
    line-height: 160px;
    font-family: NeuePlak-Black, -apple-system, BlinkMacSystemFont, Lato, "Segoe UI", Verdana, Arial, sans-serif;
}


a{
    text-decoration: none ;
}